@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Brand>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section>
    <div class="container">
                <article>
                    <br><br>
        
            <img src="@Model.BrandImages.Url" alt="@Model.BrandImages.Name" style="max-height: 300px; max-width: 400px; padding-right: 20px; padding-top:10px; float: left"/>
 
            <h3>@Model.BrandPreamble</h3>
            <p>@Model.BrandArticle</p>
        </article>
    

    </div>
</section>